*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);}
 h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}
p{
    margin: 10px 0;
        font-size: 16px;
}
a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li{
    margin: 5px 0;
}
